.dsec {
  /* max-width: 250px !important; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
  line-height: 18px;
  color: rgba(60, 60, 67, 0.6);
}
