@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

h2 {
  font-family: HarmonyOS Sans, Inter, Microsoft YaHei UI, PingFangSC-Regular,
    Helvetica, Arial, sans-serif;
}

div[data-testid='carousel'] > div:first-child {
  position: absoulte;
}

div[data-testid='trackList'] {
  gap: 24px;
}
